{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="container">
    <div class="jumbotron">
    <h1>Login here :</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {# A more "HTML" way of creating the login form#}
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="email">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="" value="Login">
        </form>
    </div>
</div>
{% endblock %}

